[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = FR
countryName_default = FR
stateOrProvinceName = France
stateOrProvinceName_default = France
localityName = Paris
localityName_default = Paris
organizationalUnitName = ABC
organizationalUnitName_default = ABC
commonName = *.lab
commonName_max = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = mykeycloak.front.lab
DNS.2 = mykeycloak.sso.lab


